{% extends "base_dashboard.html" %}
{% load crispy_forms_tags %}

{% block title %}Update Course and Modules{% endblock %}

{% block dashboard %}
    <!-- ================================
    START DASHBOARD AREA
================================= -->
    <section class="dashboard-area">
        {% include 'partials/_instructor_dashboard_menu.html' %}
        <!-- end off-canvas-menu -->
        <div class="dashboard-content-wrap">
            <div class="dashboard-menu-toggler btn theme-btn theme-btn-sm lh-28 theme-btn-transparent mb-4 ml-3">
                <i class="la la-bars mr-1"></i> Dashboard Nav
            </div>
            <div class="container-fluid">
                <div class="dashboard-heading d-flex flex-wrap align-items-center justify-content-between mb-5">
                    <div class="media media-card align-items-center">
                        <div class="media-body">
                            <h3 class="fs-22 font-weight-semi-bold">{{ course.code }}: {{ course.title }}</h3>
                        </div>
                    </div>
                </div>
                {% include 'partials/_dashboard_messages.html' %}
                <div class="row mb-3">
                    <div class="col-md-6 col-sm-8 col-12">
                        <form method="post" action=".">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-success">Save changes</button>
                            <a href="{% url 'instructor_course' %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col-3">
                          <strong>Modules</strong>
                        </div>
                        <div class="col-7">
                          <strong>Description</strong>
                        </div>
                      </div>
                    </div>
                    <div class="list-group list-group-flush list-group-formset">
                      {% for module in course.modules.all %}
                        <div class="list-group-item">
                          <div class="row">
                            <div class="col-3">
                              <a href="">{{ module.title }}</a>
                            </div>
                            <div class="col-7">
                              {{ module.description }}
                            </div>
                          </div>
                        </div>
                      {% empty %}
                        <div class="list-group-item text-center">
                          <p class="text-muted font-italic mb-0">You haven't created any module for this course yet. Go ahead and <a href="{% url 'module_add' course.pk %}">add the first module</a>.</p>
                        </div>
                      {% endfor %}
                    </div>
                    <div class="card-footer">
                      <a href="{% url 'module_add' course.pk %}" class="btn btn-primary btn-sm">Add Module</a>
                    </div>
                </div>
        </div>
    </section>

{% endblock dashboard %}