{% extends "base_dashboard.html" %}
{% load static %}

{% block title %}My Course{% endblock %}

{% block dashboard %}
    <!-- ================================
    START DASHBOARD AREA
================================= -->
    <section class="dashboard-area">
        {% include 'partials/_instructor_dashboard_menu.html' %}
        <!-- end off-canvas-menu -->
        <div class="dashboard-content-wrap">
            <div class="dashboard-menu-toggler btn theme-btn theme-btn-sm lh-28 theme-btn-transparent mb-4 ml-3">
                <i class="la la-bars mr-1"></i> Dashboard Nav
            </div>
            
            <!--======================================
        START COURSE DETAILS AREA
        ======================================-->
            {% include 'partials/_dashboard_messages.html' %}
            {% if course is not None %}
            <section class="course-details-area pb-20px">
                <div class="container">
                    <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between">
                        <div class="media media-card align-items-center">
                            <div class="media-body">
                                <h2 class="section__title fs-30">COS {{ course.code }}: {{ course.title }}</h2>
                            </div>
                            <!-- end media-body -->
                        </div>
                        <!-- end media -->
                        <a href="{% url 'instructor_course_update' course.pk %}" class="btn theme-btn d-none d-lg-inline-block">Edit</a>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 pb-5">
                            <div class="course-details-content-wrap pt-90px">
                                <!-- end course-overview-card -->
                                <div class="course-overview-card">
                                    <h3 class="fs-24 font-weight-semi-bold pb-3">Overview</h3>
                                    <p class="fs-15 pb-2">{{ course.overview }}</p>
                                </div>
                                <!-- end course-overview-card -->
                                <div class="card card-item">
                                    <div class="card-body">
                                        <h3 class="card-title fs-18 pb-2">Course Features</h3>
                                        <div class="divider"><span></span></div>
                                        <ul class="generic-list-item generic-list-item-flash">
                                            <li class="d-flex align-items-center justify-content-between"><span><i class="la la-play-circle-o mr-2 text-color"></i>Modules</span> {{ course.modules.count }}</li>
                                            <li class="d-flex align-items-center justify-content-between"><span><i class="la la-bolt mr-2 text-color"></i>Quizzes</span> {{ course.quizzes.count }}</li>
                                            <li class="d-flex align-items-center justify-content-between"><span><i class="la la-clock mr-2 text-color"></i>Announcements</span> {{ course.announcements.count }}</li>
                                            <li class="d-flex align-items-center justify-content-between"><span><i class="la la-lightbulb mr-2 text-color"></i>Assignments</span> {{ course.assignments.count }}</li>
                                            <li class="d-flex align-items-center justify-content-between"><span><i class="la la-language mr-2 text-color"></i>Language</span> English</li>
                                            <li class="d-flex align-items-center justify-content-between"><span><i class="la la-users mr-2 text-color"></i>Students</span> {{ course.students.count }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="course-overview-card">
                                    <div class="curriculum-header d-flex align-items-center justify-content-between pb-4">
                                        <h3 class="fs-24 font-weight-semi-bold">Course Outline</h3>
                                        <div class="curriculum-duration fs-15">
                                        </div>
                                    </div>
                                    <div class="curriculum-content">
                                        {% for module in course.modules.all %}
                                        <a href="" class="card card-item hover-s mb-3">
                                            <div class="card-body d-flex flex-wrap align-items-center justify-content-between">
                                                <div class="pr-4">
                                                    <h5 class="card-title">{{ module.title }}</h5>
                                                    <p class="card-text text-gray">{{ module.description }}</p>
                                                </div>
                                                <div class="btn-box">
                                                    <span class="fs-18 text-black">Show detail <i class="la la-arrow-right ml-1"></i></span>
                                                </div>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                    <!-- end curriculum-content -->
                                </div>
                                <!-- end course-overview-card -->
                            </div>
                            <!-- end course-details-content-wrap -->
                        </div>
                        <!-- end col-lg-12 -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
            {% else %}
            <section class="cat-area pt-80px pb-80px bg-gray position-relative">
                <div class="container">
                    <div class="cta-content-wrap text-center">
                        <div class="section-heading">
                            <h6 class="mb-2">Wow! So empty...</h6>
                            <h2 class="section__title fs-45 lh-55">It does seem like you have no Course you're instructing.</h2>
                        </div>
                        <!-- end section-heading -->
                        <div class="cat-btn-box mt-28px">
                            <a href="{% url 'instructor_course_create' %}" class="btn theme-btn">Create a Course <i class="la la-arrow-right icon ml-1"></i></a>
                        </div>
                        <!-- end cat-btn-box -->
                    </div>
                    <!-- end cta-content-wrap -->
                </div>
                <!-- end container -->
            </section>
            {% endif %}
            <!-- end course-details-area -->
            <!--======================================
                END COURSE DETAILS AREA
        ======================================-->
        </div>
        <!-- end dashboard-content-wrap -->
    </section>
    <!-- end dashboard-area -->
    <!-- ================================
    END DASHBOARD AREA
================================= -->

{% endblock dashboard %}