{% extends "base_dashboard.html" %}
{% load crispy_forms_tags %}

{% block title %}Add a new quiz{% endblock %}

{% block dashboard %}
    <!-- ================================
    START DASHBOARD AREA
================================= -->
    <section class="dashboard-area">
        {% include 'partials/_instructor_dashboard_menu.html' %}
        <!-- end off-canvas-menu -->
        <div class="dashboard-content-wrap">
            <div class="dashboard-menu-toggler btn theme-btn theme-btn-sm lh-28 theme-btn-transparent mb-4 ml-3">
                <i class="la la-bars mr-1"></i> Dashboard Nav
            </div>
            {% include 'partials/_dashboard_messages.html' %}
            <div class="container-fluid">
                <div class="dashboard-heading mb-5">
                    <h3 class="fs-22 font-weight-semi-bold">Add a new quiz</h3>
                </div>
                <form action="." method="post">
                    {% csrf_token %}
                    <div class="card card-item">
                        <div class="card-body">
                            {{ form|crispy }}
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                    <div class="course-submit-btn-box pb-4">
                        <button class="btn theme-btn" type="submit">Save</button>
                        <a href="{% url 'instructor_quizzes' %}" class="btn theme-btn" role="button">Nevermind</a>
                    </div>
                </form>
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end dashboard-content-wrap -->
    </section>
    <!-- end dashboard-area -->
    <!-- ================================
    END DASHBOARD AREA
================================= -->

{% endblock dashboard %}